.page__title {
    margin-top: 20px;
}

.height_less_1000 {
    .catalog__title {
        font-size: 32px;
    }
    .category__img img {
        max-height: 150px;
    }
    .category__title {
        font-size: 18px;
    }
    .msection__body_brand {
        font-size: 14px;
    }
    .msection__title {
        @include mn768 {
            font-size: 32px;
        }
    }
    .b-brand__body {
        font-size: 13px;
    }
    .b-adv__txt {
        @include mn768 {
            font-size: 16px;
        }
        @include mn1200 {
            font-size: 18px;
        }
    }
    &.fp-viewing .fullpage__item__last .msection__inner {
        padding-bottom: 40px;
    }
    .b-about {
        &__main {
            h2 {
                margin: 10px 0;
            }
            hr {
                margin: 10px 0;
            }
        }
    }
}

.height_less_880 {
    .mmenu__logo {
        height: 70px;
    }
    &.fp-viewing {
        .msection {
            &__title {
                font-size: 28px;
                line-height: 1;
                &_brand {
                    top: -36px;
                }
            }
            &__inner_brand {
                padding: 35px 25px 10px;
            }
            &__body {
                p {
                    margin-bottom: .5em;
                }
                &_brand {
                    line-height: 1.2;
                    max-height: calc(100vh - 280px);
                    padding-right: 30px;
                }
                &_advantage {
                    line-height: 1;
                    font-size: 16px;
                    @include mn1200 {
                        line-height: 1.2;
                        font-size: 17px;
                    }
                }
            }
        }
        .b-brand {
            &__title {
                font-size: 16px;
            }
            &__body {
                font-size: 12px;
            }
        }
        .b-mcatalog {
            &__inner {
                height: calc(100vh - 300px);
                padding: 0 0 20px;
            }
            &__desc {
                font-size: 26px;
                height: 120px;
            }
        }
        .b-adv {
            &__items {
                padding: 20px 0;
            }
            &__num {
                font-size: 36px;
            }
            &__item {
                min-height: 60px;
            }
            &__text {
                @include mn1200 {
                    font-size: inherit;
                }
            }
        }
        .b-mreviews {
            padding-bottom: 0;
            &__title {
                padding: 0;
            }
            &__body {
                height: 150px;
                line-height: 1.2;
            }
        }
        .msection_reviews .b-form {
            padding-bottom: 0;
        }
        .fmenu {
            .menu-item {
                margin-bottom: 0;
            }
            .mc4wp-form input {
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
        .msbottom {
            padding: 10px 0;
            &__inner {
                padding-bottom: 20px;
            }
        }
        .next__link_last:before,
        .next__link_last:after {
            top: 20px;
        }
        .next__elem {
            height: 40px;
        }
        .about {
            &__title {
                top: -18px;
                font-size: 30px;
                h1 {
                    font-size: inherit;
                }
                &:before,
                &:after {
                    margin-top: -4px;
                }
            }
            &__inner {
                line-height: 1.2;
                padding: 20px 120px 20px 20px;
                margin-top: 60px;
                width: calc(100% - 330px);
                min-height: 400px;
                &_last .logos {
                    margin-bottom: 10px;
                }
            }
            &__body .about__list {
                margin-top: 10px;
                margin-bottom: 10px;
                ul {
                    font-size: 16px;
                }
            }
            &__caption {
                font-size: 26px;
                margin: 10px 0;
            }
        }
        .b-about {
            &__items {
                width: 460px;
                right: -350px;
            }
            &__item {
                padding-left: 55px;
            }
            &__main hr {
                margin: 5px 0;
            }
        }
        .category {
            &__item {
                padding: 10px;
            }
            &__title {
                font-size: 16px;
            }
        }
    }
    #to-advantage .msection__in {
        @include mn1200 {
            padding-bottom: 20px;
        }
    }
}

.height_less_750 {
    .category {
        &__img {
            background-size: 70%;
            img {
                max-height: 100px;
            }
        }
    }
}

.product__sect-caption:hover {
    text-decoration: none;
    color: $yellow;
}

.team {
    .nav-tabs > li {
        margin-top: 5px;
    }
}

img.content__img {
    background: none;
    min-height: 0;
}

@media (max-width: 767px) {
    .mmenu__btel {
        float: none;
        text-align: center;
    }
    .mmenu .mmenu__search {
        float: right;
        margin-top: 5px;
    }
    .product__sect-caption {
        border-bottom: 1px solid;
    }
    .product__sect-caption:before {
        display: none;
    }
}

.msection__body_reviews {
    margin-top: 20px;
}

@media (min-width: 1900px) {
    .msection__title_advantage {
        margin-bottom: 10px;
    }
    .fp-enabled .breadcrumbs {
        top: 120px;
    }
}

.height_less_800.fp-viewing {
    .category__img {
        background-size: 80%;
        img {
            max-height: 125px;
        }
    }
}
