.mmenu {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    transition: all .5s 0s;
    @include mn1200 {
        position: fixed;
    }
    &.fixed {
        @include mn1200 {
            background: rgba(3, 56, 110, 0.8);
            padding: 10px 0;
        }
        .logo {
            transition: all .5s 0s;
            @include mn1200 {
                height: 60px;
            }
        }
    }
    &__logo {
        text-align: center;
    }
    &__btel {
        float: right;
        margin: 7px 0;
        @include mn768 {
            flex-shrink: 0;
            text-align: center;
        }
    }
    &__tel {
        display: block;
        font-size: 20px;
        font-weight: 600;
        position: relative;
        @include mn1200 {
            &:before {
                content: '\f095';
                font-family: FontAwesome;
                font-size: 14px;
                margin-right: .7em;
            }
        }
        &-link {
            display: inline-block;
            vertical-align: middle;
        }
    }
    &-items {
        @include mn768 {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &-item {
        @include mn1200 {
            position: static;
            float: none;
        }
    }
    .mmenu__search {
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
        line-height: 0;
        &.active {
            .mmenu__search-control {
                width: 220px;
                opacity: 1;
            }
        }
        &-control {
            display: inline-block;
            vertical-align: middle;
            position: absolute;
            top: -2px;
            right: 25px;
            padding: 5px;
            background: #033a73;
            font-size: 14px;
            width: 0;
            opacity: 0;
            z-index: 1;
            transition: width 1s 0s, opacity .5s 0s;
        }
        &-btn {
            width: 17px;
            height: 17px;
            background: url(../img/icon-search.png) center no-repeat;
            background-size: contain;
            display: inline-block;
            border: 0;
            color: transparent;
            padding: 0;
            &:hover {
                color: transparent;
                background: url(../img/icon-search.png) center no-repeat;
                background-size: contain;
            }
        }
    }
}

.navbar_peak {
    margin: 0;
    @include mn1200 {
        font-size: 16px;
    }
    .navbar-header {
        float: left;
        z-index: 1;
        position: relative;
        @include mn768 {
            display: none;
        }
    }
    .navbar-toggle {
        margin: 0;
        .fa {
            font-size: 20px;
        }
    }
    .navbar-collapse {
        position: absolute;
        top: 100%;
        z-index: 10;
        @include mn768 {
            position: static;
        }
    }
    .nav {
        background: #2e659d;
        margin-top: 0;
        margin-bottom: 0;
        @include mn768 {
            background: transparent;
            float: none;
        }
        a {
            color: inherit;
            font-weight: inherit;
            @include mn768 {
                padding: 5px 10px;
            }
        }
        .open > a {
            background: transparent;
            color: $yellow;
        }
        > li > a:hover,
        > li > a:focus {
            background: transparent;
        }
        > li > a:hover {
            color: $yellow;
        }
    }
    .caret {
        display: none;
        position: absolute;
        border: 9px solid $yellow;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        left: 25px;
        bottom: -32px;
    }
    .menu__row > a {
        display: none;
    }
    @include mn992 {
        .dropdown-menu {
            background: transparent;
            border: 0;
            box-shadow: none;
            font-weight: 500;
        }
        .active > a,
        .active > a:hover,
        .active > a:focus {
            background: transparent;
            border: 1px solid yellow;
            border-radius: 3px;
        }
        #menu-glavnoe {
            &> .menu-item {
                position: static;
                .menu__row {
                    flex: 1 0 25%;
                }
                &>.dropdown-menu {
                    left: auto;
                    background-color: rgba(36, 36, 36, 0.9);
                    border: 1px solid #ffce00;
                    .menu-item {
                        flex-basis: 100%;
                    }
                    .dropdown-menu {
                        display: block;
                        position: static;
                        font-size: 12px;
                        font-weight: 500;
                        @include mn992 {
                            font-size: 14px;
                        }
                        a {
                            white-space: normal;
                        }
                        .menu__title {
                            color: $yellow;
                            font-size: 1.2em;
                            margin-bottom: .4em;
                        }
                        .menu__new {
                            padding-left: 55px;
                            position: relative;
                            &:before {
                                content: 'new';
                                position: absolute;
                                background: yellow;
                                color: black;
                                padding: 0 7px;
                                text-transform: uppercase;
                                border-radius: 3px;
                                left: 10px;
                                top: 7px;
                            }
                        }
                    }
                }
                &>.dropdown-toggle {
                    ~ .dropdown-menu {
                        overflow: hidden;
                        transition: all .5s 0s;
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flex;
                        display: -o-flex;
                        display: flex;
                        opacity: 0;
                        visibility: hidden;
                    }
                    ~ .dropdown-menu:hover {
                        opacity: 1;
                        visibility: visible;
                    }
                    &:hover {
                        .caret {
                            display: block;
                        }
                        ~ .dropdown-menu {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
            &>.menu-item-25 {
                &>.dropdown-toggle ~ .dropdown-menu {
                    width: 940px;
                    left: 50%;
                    margin-left: -470px;
                    right: auto;
                    @include mn1200 {
                        width: 1140px;
                        margin-left: -570px;
                    }
                    .menu-item {
                        flex-basis: 25%;
                    }
                }
            }
        }
    }
}
