.page__sidebar {
    display: none;
    width: 27%;
    margin-left: 3%;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    @include mn992 {
        display: inline-block;
    }
    .mc4wp-form {
        input {
            width: 100%;
            max-width: 230px;
        }
        .mc4wp-response {
            font-size: .8em;
        }
    }
}

.widget {
    &__title {
        font-size: 20px;
        font-weight: 700;
    }
}

.content {
    &__list_archive .content__item {
        margin-bottom: 30px;
        // padding: 20px;
    }
    &__list_archive .content__item {
        // border: 1px solid;
    }
    &__title {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 10px;
        color: $yellow;
    }
    &__date {
        font-size: .8em;
        font-weight: 700;
        margin-bottom: 5px;
    }
    &__img_archive {
        height: 0;
        min-height: 0;
        padding-bottom: 33%;
    }
    &__btn-more {
        text-align: right;
    }
}

.content_with-slider {
    .page__content-wrap {
        font-size: 0;
    }
    .page__content {
        margin-top: 0;
        @include mn992 {
            width: 70%;
            font-size: 16px;
            display: inline-block;
            vertical-align: top;
        }
    }
}
